.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  margin-top: 20px;
}

.request-section,
.release-section {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #333;
  margin-bottom: 20px;
  margin: 10px;
  width: 45%; 
}

.request-section h2,
.release-section h2 {
  color: #333;
}

.request-section form,
.release-section form {
  display: flex;
  flex-direction: column;
}

.request-section form input,
.release-section form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.request-section form button,
.release-section form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.request-section form button:hover,
.release-section form button:hover {
  background-color: #0056b3;
}

.success-green {
  color: green;
  margin-top: 10px;
}

.error-red {
  color: red;
  margin-top: 10px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: 20px; 
}

.images img {
  width: 400px;
  height: auto;
  margin: 10px; /* Add margin around each image */
}
